// Define variables for your color scheme

// For example:
$white: #fffffe;
$sand: #eaddcf;
$beige: #f9f4ef;
$orange: #f25142;
$lightorange:#ee695d;
$lightkaki: #8c7851;
$darkkaki: #716040;
$black: #020826;
$darkrose: #bf3f52;
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
