<div class="container">
    <% if @chatrooms.empty? %>
        <%= "Vous n'avez pas de messages" %>
    <% else %>
        <% @chatrooms.each do |chatroom| %>
            <%= link_to "#{chatroom.name}", chatroom_path(chatroom), class: "list-group-item #{'active' if chatroom == @chatroom}" %>
        <% end %>
    <% end %>
</div>
