@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#oopss {
  background: linear-gradient(-45deg, #ee695d, #f25142);
  position: fixed;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5em;
  z-index: 1;
}

#oopss #error-text {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Barlow Semi Condensed';
  color: #000;
  direction: rtl;
}
#oopss #error-text img {
  margin: 85px auto 20px;
  height: 342px;
}
#oopss #error-text span {
  font-family: 'Barlow Semi Condensed';
  position: relative;
  font-size: 3.3em;
  font-weight: 900;
  margin-bottom: 50px;
}
#oopss #error-text p.p-a {
  font-size: 19px;
  margin: 30px 0 15px 0;
}
#oopss #error-text p.p-b {
  font-size: 15px;
}
#oopss #error-text .back {
  background: #fff;
  color: #000;
  font-size: 30px;
  text-decoration: none;
  margin: 2em auto 0;
  padding: .7em 2em;
  border-radius: 500px;
  box-shadow: 0 20px 70px 4px rgba(0, 0, 0, 0.1), inset 7px 33px 0 0px #fff300;
  font-weight: 900;
  transition: all 300ms ease;
}
#oopss #error-text .back:hover {
  -webkit-transform: translateY(-13px);
          transform: translateY(-13px);
  box-shadow: 0 35px 90px 4px rgba(0, 0, 0, 0.3), inset 0px 0 0 3px #000;
}

a {
	border: 2px solid #dadada;
	padding: 0.5em 0.8em;
	position: fixed;
	z-index: 2;
	color: #FFFFFF;
	text-decoration: none;
	display: flex;
  font-family: 'Barlow Semi Condensed';
	align-items: center;
	transition: 150ms;
	svg > polyline {
		transition: 150ms;
	}
	&:hover {
		color: #333;
		background: #dadada;
		border-color:transparent;
		svg > polyline {
			stroke: #000;
		}
		+ .background-wrapper > h1 {
			color: #dadada;
		}
	}
}

p {
	color: #dadada;
	font-size: calc(1em + 3vmin);
	position: fixed;
	bottom: 1rem;
	right: 1.5rem;
	margin: 0;
	text-align: right;
	text-shadow: -1px -1px 0 #121212, 1px 1px 0 #121212, -1px 1px 0 #121212, 1px -1px 0 #121212;
	@media screen and (min-width: 340px) {
		width: 70%;
	}
	@media screen and (min-width: 560px) {
		width: 50%;
	}
	@media screen and (min-width: 940px) {
		width: 30%;
	}
	@media screen and (min-width: 1300px) {
		width: 25%;
	}}
