<div class="banner">
  <div class="container">
    <a class="orange-btn" href="#">Apply now</a>
  </div>
</div>

<div class="container" style="margin-top: 250px;">
  <p>Scroll to see the navbar change.</p>
 <a class="kaki-btn" href="test">test </a>
<a class="orange-btn" href="test">test </a>
</div>
