<div class="container-booking-card">
  <li class="booking-card" style="background-image: url(https://images.unsplash.com/photo-1578944032637-f09897c5233d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ)">
    <div class="book-container">
      <div class="content">
      </div>
    </div>
    <div class="informations-container">
      <h2 class="title"><%=link_to offer.title, offer_path(offer) %></h2>
      <p class="sub-title"><%= offer.theme %></p>
      <p class='price'><%= offer.price %>€</p>
    </div>
  </li>
</div>