<div class="container-booking-card">
  <li class="booking-card" style="background-image:url(<%= cl_image_path offer.photos.first.key, crop: :fill, :style =>"background-image", :class => "card__image" %>);">
    <div class="book-container">
      <div class="content">

      </div>
    </div>
    <div class="informations-container">
      <h2 class="title"><%=link_to offer.title, offer_path(offer, :placenumber => @placenumber, :price => @price, :theme => @theme, :city => @city) %></h2>
      <p class="sub-title"><%= offer.theme %></p>
      <p class='price'><%= offer.price %>€</p>

    </div>

  </li>
</div>
