
<div class='container-booking-cards'>
  <li class="booking-card" style="background-image: url(https://images.unsplash.com/photo-1580137197581-df2bb346a786?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);">
    <div class="book-container">
    </div>
    <div class="informations-container">
      <h2 class="title"><%=link_to offer.title, offers_path(@offer) %></h2>
      <p class="sub-title"><%= offer.theme %></p>
      <p class='price'><%= offer.price %>€</p>
  </li>
</div>