<div class="sizeback d-flex">
    <%= link_to root_path do %>
      <%= image_tag "left.png" %>
    <% end %>
</div>


<div class='title-card'><h1> Un avant-goût d'aventure !</h1>
</div>

<div class="black-bar"></div>

<div class='align-card'>
  <% @offers.each do | offer | %>
      <%= render 'offers/cards', offer: offer %>
  <% end %>
</div>
