
<div class='title-card'><h1> Toutes nos activités !</h1>
</div>

<div class="black-bar"></div>

<div class='align-card'>
<% @offers.each do | offer | %>

    <%= render 'offers/cards', offer: offer %>
<% end %>
</div>

<div class="back-btn">
  <%= link_to "Précédent", root_path, class:"btn kaki-btn btn-lg"%>
</div>