.banner {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: asset-url('vanbanner.svg');
  background-position: center;
  padding: 150px 0;
  margin-top: -100px;
  height: 370px;
}

.banner img {

  width: 70%;

}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.back-btn {
  width: 100px;
}