@mixin radius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}
@mixin cardsOpen() {
    &::before {
      background: rgba(112, 25, 10, 0.6);
    }
    .book-container {
      .content {
        opacity: 1;
        transform: translateY(0px);
      }
    }

    .informations-container {
      transform: translateY(0px);
      .more-information {
        opacity: 1;
      }
    }
}
*{
  margin: 0;
  padding: 0;
  font-family: $body-font;

}

.align-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}


.title-card {
  text-align: center;
}

.container-booking-card{
    display: flex;
    flex-wrap: wrap;
    list-style: none;


  .booking-card{
    position: relative;
    display: flex;
    flex: auto;
    flex-direction: column;

    margin: 30px;
    margin-bottom: 30px;


    @include radius(10px);
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    text-align: center;
    transition: .3s;

    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(10,72,112, 0);
      transition: .3s;
    }

    .book-container {
      height: 90px;
      .content {
        position: relative;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        transition: .3s;
      }
    }


    .informations-container{

      padding: 20px;

      background: $lightorange;

      transform: translateY(206px);

      transition: .3s;

      .title {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 10px;

        font-weight: bold;
        font-size: 1.2em;

        &::after{
          content: '';


          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;

          margin: auto;

          background: $black;
        }
      }

      .price {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 10px;


      .more-information {
        opacity: 0;
        padding: 10px;
        transition: .3s;

      }
      }
    }


    &:hover {
      @include cardsOpen();
    }
  }
}
@media (max-width: 768px) {
  ul {
    .booking-card{
      @include cardsOpen();
    }
  }
  .align-card {
    grid-template-columns: 1fr 1fr;
    }
}
