.container {
  height: 100%;
}

.chatroom-name {
  background-color: $orange;
  border: 2px solid rgb(235, 235, 235);
  padding: 5px;
  width: 222px;
  border-radius: 14px 0 0 14px;
}

.list-group-item {
  background-color: $orange;
  border-color: $orange;
}


.list-group-item:hover,
.list-group-item.active {
  background-color: $lightorange;
  border-color: $lightorange;
  text-decoration: none;
  border-radius: 5px;
}

.container-chatroom {
  display: flex;
  height: 100%;
}

.chatbox {
  width: 100%;
  background-color: $white;
  border: 2px solid rgb(235, 235, 235);
  padding: 5px;
  position: relative;
  border-radius: 0 14px 14px 0;
}

.box-messages {
  margin-bottom: 55px;
  margin-top: 10px;
}

.message-form {
  position: absolute;
  bottom: -11px;
  width: 99%;
}

.message-container {
  text-align: left;
  .background-messages {
    background-color: $beige;
  }
}

// //     box-sizing: border-box;
// //     background-color: $beige;
// //     border-radius: 4px;
// //     width: 90%;
// //     // display: inline-block;

//   }
  
.current-user-message {
  text-align: right;
  .background-messages {
    background-color: $sand;
  }
}
//     box-sizing: border-box;
//     background-color: $sand;
//     border-radius: 4px;
//     display: inline-block;
//     // float: right;
//     justify-content: right;
  
