.container {
  height: 100%;
}

.chatroom-name {
  background-color: $orange;
  border: 2px solid rgb(235, 235, 235);
  padding: 5px;
  width: 222px;
  border-radius: 14px 0 0 14px;
}

.list-group-item {
  background-color: $orange;
  border-color: $orange;
}


.list-group-item:hover,
.list-group-item.active {
  background-color: $lightorange;
  border-color: $lightorange;
  text-decoration: none;
  border-radius: 5px;
}

.container-chatroom {
  display: flex;
  height: 100%;
}

.chatbox {
  width: 100%;
  background-color: $white;
  border: 2px solid rgb(235, 235, 235);
  padding: 5px;
  position: relative;
  border-radius: 0 14px 14px 0;
}

.box-messages {
  margin-bottom: 55px;
  margin-top: 10px;
}

.message-form {
  position: absolute;
  bottom: -11px;
  width: 99%;
}

.message-container {
  display: grid;
  text-align: left;
  margin: 8px 0;
  .background-messages {
    background-color: $beige;
    border-radius: 5px;
    width: fit-content;
    padding: 8px 5px 0 5px;;
  }
}
  
.current-user-message {
  display: grid;
  justify-content: flex-end;
  text-align: right;
  margin: 8px 0;
  .background-messages {
    background-color: $sand;
    border-radius: 5px;
    width: fit-content;
    padding: 8px 5px 0 5px;;
  }
}
.input-message {
  width: 500px;
}

#new_message {
  display: flex;
  justify-content: center;
}

.send-message input {
  width: 66px;
  background-color: $orange;
  padding: 4px 17px;
  border-radius: 5px;
}

.send-message input:hover {
  background-color: $lightorange;
}

.new-chatroom {
  display: grid;
  justify-content: center;
  padding: 60px;
  background-color: $white;
  height: 425px;
  border-radius: 4px;
  box-shadow: 0 1px 5px grey;
  margin-left: 106px; 
}

.new-chatroom-title {
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
}

.form-inputs-chatroom {
  width: 264px;
}

.form-inputs-chatroom label {
  margin-left: 53px;
}


.enveloppes-gif img {
  height: 716px;
    padding-top: 50px;
    margin-top: -171px;
    margin-left: 30px;
}

.full-page {
  display: flex;
  justify-content: space-between;
}

.form-actions-chatroom {
  margin-left: 32px;
}