.img-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

  .text-img {
    text-align: center;

    img{
    width: 35%;
    margin-bottom: 15px;


    }
}

.text-img p {
  font-size: 20px;
  text-align: center;
}
