.img-home { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .text-img {
    text-align: center;

    img{
    width: 40%;
    
      
    }
}

.text-img p {
  font-size: 20px;
  text-align: center;
}
